@use "sass:math";

// Base Unit
$base-unit: 10px !default;
$base-unit-half: math.div($base-unit, 2);
$base-unit-two: $base-unit * 2;

// Heights
$row-height-small: $base-unit * 3 !default;
$row-height-medium: $base-unit * 4 !default;
$row-height-large: $base-unit * 5 !default;
$row-height-over: $base-unit * 7 !default;

// Border Radius
$border-radius-normal: $base-unit !default;
$border-radius-half: $base-unit-half !default;
$border-radius-full: $base-unit * 2 !default;
$border-radius-round: 10000000px !default;
$border-radius-circle: 50% !default;
$border-radius-none: 0 !default;

$box-shadow: 0px 3px 10px rgba(27, 78, 96, 0.2) !default; // deprecated
$box-shadow-dark: 0px 3px 10px rgba(27, 78, 96, 0.5) !default; // deprecated
$reverse-box-shadow: -2px -3px 15px rgba(0, 0, 0, 0.2) !default; // deprecated

$universal-border-radius: 10px !default; // deprecated
$universal-border-radius-half: 5px !default; // deprecated

// Pallet Colors -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Main Colors 
$primary-color-normal: #1460BA !default;
$primary-color-transparent: rgba(45, 77, 165, 0.2) !default;
$primary-color-light: #B8E6FF !default;
$primary-color-text: #ececec !default;
$primary-color-text-light: $primary-color-normal !default;

$secondary-color-normal: #6750A4 !default;
$secondary-color-transparent: rgba(103, 80, 164, 0.2) !default;
$secondary-color-light: #EADDFF !default;
$secondary-color-text: rgb(236, 236, 236) !default;
$secondary-color-text-light: $secondary-color-normal !default;

$tertiary-color-normal: #d5fe65 !default;
$tertiary-color-transparent: rgba(219, 255, 118, 0.2) !default;
$tertiary-color-light: #ebfbbe !default;
$tertiary-color-text: black !default;
$tertiary-color-text-light: black !default;


// Utility Colors
$alert-color-normal: #91832A !default;
$alert-color-transparent: rgba(145, 131, 42, 0.2) !default;
$alert-color-light: #F8F8AC !default;
$alert-color-text: white !default;
$alert-color-text-light: $alert-color-normal !default;

$error-color-normal: #E74420 !default;
$error-color-transparent: rgba(231, 68, 32, 0.2) !default;
$error-color-light: #FFE8E3 !default;
$error-color-text: white !default;
$error-color-text-light: $error-color-normal !default;

$success-color-normal: #13AE2D !default;
$success-color-transparent: rgba(19, 174, 45, 0.2) !default;
$success-color-light: #EDFFE1 !default;
$success-color-text: white !default;
$success-color-text-light: $success-color-normal !default;


// Root Colors
$background-color: #fffffb !default;
$neutral-color: #f2f2f2 !default;

$content-background-color: #fffffb !default; // deprecated (use background-content-color instead) 
$background-content-color: $content-background-color !default;

$disable-color-normal: #b0bec5 !default; // deprecated (use disabled-color instead)
$disabled-color: $disable-color-normal !default; 

$hover-color: $primary-color-light !default; // deprecated (use emphasis instead)
$border-color: #f2f2f2 !default; // deprecated (use emphasis instead)

$normal-text-color: #2e2e2e !default; // deprecated (use light-mode-normal-text-color instead)
$light-mode-normal-text-color: $normal-text-color !default; 

$gray-text-color: gray !default; // deprecated (use light-mode-gray-text-color instead)
$light-mode-gray-text-color: $gray-text-color !default;


// Accessory Colors
$accessory-orange-normal: #FF9029 !default;
$accessory-orange-transparent: rgba(255, 144, 41, 0.2) !default;
$accessory-orange-light: #FFF1E5 !default;
$accessory-orange-text: black !default;
$accessory-orange-text-light: $accessory-orange-normal !default;

$accessory-blue-normal: #2085BB !default;
$accessory-blue-transparent: rgba(32, 133, 187, 0.2) !default;
$accessory-blue-light: #E3FCFF !default;
$accessory-blue-text: white !default;
$accessory-blue-text-light: $accessory-blue-normal !default;

$accessory-green-normal: #00958D !default;
$accessory-green-transparent: rgba(0, 149, 141, 0.2) !default;
$accessory-green-light: #DCFFF7 !default;
$accessory-green-text: black !default;
$accessory-green-text-light: $accessory-green-normal !default;

$colorOptions: (
	"primary",
	"secondary",
	"tertiary",
	"error",
	"alert",
	"success",
	"accessory-green",
	"accessory-orange",
	"accessory-blue"
);


// Sizes

$laptop13BreakPoint: 1400px;
$laptop15BreakPoint: 1550px;
$desktopBreakPoint: 1900px;
$tablet13LandscapeBreakPoint: 1400px;
$tablet11LandscapeBreakPoint: 1200px;
$tablet10LandscapeBreakPoint: 1050px;
$tablet13PortraitBreakPoint: 1050px;
$tablet11PortraitBreakPoint: 900px;
$tablet10PortraitBreakPoint: 800px;
$mobileBreakPoint: 700px;
$mobileSmallBreakPoint: 375px;
$drawer-width: 240px !default;
$drawer-item-width: 220px !default;
$navbar-height: $row-height-large !default;
$subnavbar-height: $row-height-medium !default;


// Fonts
$paragraph-font-family: "Roboto Condensed", sans-serif !default; // deprecated
$paragraph-font-light-weight: 300 !default; // deprecated
$paragraph-font-regular-weight: 400 !default; // deprecated

$header-font-family: "Montserrat", sans-serif !default; // deprecated
$header-font-bold-weight: 600 !default; // deprecated

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 900 !default;

$font-family-primary: 'Roboto', sans-serif !default;
$font-family-secondary: 'Barlow Condensed', sans-serif !default;

$typography-title-large: 20px !default;
$typography-title-medium: 18px !default;
$typography-title-small: 16px !default;
$typography-paragraph-large: 16px !default;
$typography-paragraph-medium: 14px !default;
$typography-paragraph-small: 12px !default;
$typography-caption-large: 12px !default;
$typography-caption-medium: 10px !default;
$typography-caption-small: 8px !default;


// Elevation
$elevation-shadow-0: none;
$elevation-shadow-1: 0px 3px 10px rgba(27, 78, 96, 0.2) !default;
$elevation-shadow-2: 0px 3px 10px rgba(27, 78, 96, 0.5) !default;
