@import "general";

// Default HTML Tags
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $paragraph-font-family;
}

.vieolo-button {
	position: relative;
	overflow: hidden;
	outline: 0;
	padding-right: $base-unit;
	padding-left: $base-unit;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-position: center;
	transition: background 0.8s;
	font-size: 16px;
	min-width: 80px;
	font-weight: $font-weight-bold;

	&:focus {
		outline: auto $base-unit-half -webkit-focus-ring-color;
	}

	&:focus:not(:focus-visible) {
		outline: 0;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: $box-shadow-dark;
	}

	.vieolo-spinner {
		margin-right: $base-unit-half;
	}

	svg {
		height: $base-unit * 2;
		width: $base-unit * 2;
	}

	&--large {
		height: $row-height-large;
	}

	&--medium {
		height: $row-height-medium;
	}

	&--small {
		height: $row-height-small;
	}

	&--full-width {
		width: 100%;
	}

	&--border-radius-default {
		border-radius: $border-radius-full;
	}

	&--border-radius-full {
		border-radius: $border-radius-full;
	}

	&--border-radius-normal {
		border-radius: $border-radius-normal;
	}

	&--border-radius-half {
		border-radius: $border-radius-half;
	}

	&--border-radius-none {
		border-radius: 0px;
	}

	span {
		@include center-by-flex-row;
	}

	.start-icon {
		margin-right: $base-unit-half;
	}

	.end-icon {
		margin-left: $base-unit-half;
	}
}

.vieolo-tip-icon {
	cursor: help;
	font-size: 12px;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	font-weight: $font-weight-bold;
	@include center-by-flex-row;
	@include primary-background;
}

.vieolo-input {
	height: 30px;
	line-height: 30px;
	border-radius: $base-unit-half;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	font-size: 14px;
	box-sizing: border-box;
	padding: 2px $base-unit-half;

	&:focus,
	&:active {
		outline: none;
	}
}

.vieolo-textarea {
	outline: none;
	width: 98%;
	resize: vertical;
	font-size: 13px;
	border-radius: $base-unit-half;
	height: 100px;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;

	&:focus {
		outline: none;
	}
}

.vieolo-input-set,
.vieolo-textarea-set {
	.label-container {
		height: 30px;
		@include flex-row-space-between;
		padding: 0 $base-unit-half;

		label {
			margin: 0;
			font-size: 12px;
			font-weight: $font-weight-bold;
		}
	}
}

.vieolo-tooltip {
	position: relative;

	&:hover {

		.tooltip-text-up,
		.tooltip-text-up-left,
		.tooltip-text-up-right,
		.tooltip-text-down,
		.tooltip-text-down-left,
		.tooltip-text-down-right,
		.tooltip-text-right,
		.tooltip-text-left,
		.tooltiptext {
			visibility: visible;
			z-index: 999;

			p {
				margin-top: $base-unit-half;
				margin-bottom: $base-unit-half;
				font-size: 10px;
			}

			p:first-child {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tooltip-text-up,
	.tooltip-text-up-left,
	.tooltip-text-up-right,
	.tooltip-text-down,
	.tooltip-text-down-left,
	.tooltip-text-down-right,
	.tooltip-text-right,
	.tooltip-text-left,
	.tooltiptext {
		visibility: hidden;
		width: 120px;
		@include primary-background;
		text-align: center;
		border-radius: 6px;
		padding: $base-unit-half;
		display: block;

		/* Position the tooltip */
		position: absolute;
		z-index: 10;

		&:before {
			bottom: 20px;
			content: " ";
			display: block;
		}
	}

	.tooltiptext,
	.tooltip-text-up {
		bottom: 100%;
		left: 50%;
		margin-left: -60px;

		::after {
			content: " ";
			position: absolute;
			top: 100%;
			/* At the bottom of the tooltip */
			left: 50%;
			margin-left: -$base-unit-half;
			border-width: $base-unit-half;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	}

	.tooltip-text-down {
		top: 110%;
		left: 50%;
		margin-left: -60px;

		&::after {
			content: " ";
			position: absolute;
			bottom: 100%;
			/* At the top of the tooltip */
			left: 50%;
			margin-left: -$base-unit-half;
			border-width: $base-unit-half;
			border-style: solid;
			border-color: transparent transparent black transparent;
		}
	}

	.tooltip-text-right {
		right: -110%;
		top: -110%;

		&::after {
			content: " ";
			position: absolute;
			top: 50%;
			right: 100%;
			/* To the left of the tooltip */
			margin-top: -$base-unit-half;
			border-width: $base-unit-half;
			border-style: solid;
			border-color: transparent black transparent transparent;
		}
	}

	.tooltip-text-left {
		right: 110%;
		top: 20%;

		&::after {
			content: " ";
			position: absolute;
			top: 50%;
			left: 100%;
			/* To the right of the tooltip */
			margin-top: -$base-unit-half;
			border-width: $base-unit-half;
			border-style: solid;
			border-color: transparent transparent transparent black;
		}
	}

	.tooltip-text-up-left {
		right: 100%;
		bottom: 100%;
	}

	.tooltip-text-up-right {
		left: 100%;
		bottom: 100%;
	}

	.tooltip-text-down-left {
		right: 100%;
		top: 100%;
	}

	.tooltip-text-down-right {
		left: 100%;
		top: 100%;
	}

	.tooltip-text-small {
		width: 120px;
		margin-left: -60px;
		font-size: 12px;
	}

	.tooltip-text-medium {
		width: 180px;
		margin-left: -90px;
	}

	.tooltip-text-large {
		width: 240px;
		margin-left: -120px;
	}
}

.vieolo-switch {
	.switch-input {
		display: none;
	}

	.switch-label {
		position: relative;
		display: inline-block;
		cursor: pointer;
		font-weight: 500;
		text-align: left;
		margin: 0;
		padding: 0 0 0 44px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			margin: 0;
			outline: 0;
			top: 50%;
			-ms-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		&:before {
			left: 1px;
			width: 34px;
			height: 14px;
			background-color: #9e9e9e;
			border-radius: 8px;
		}

		&:after {
			left: 0;
			width: 20px;
			height: 20px;
			background-color: #fafafa;
			border-radius: 50%;
			box-shadow: 0 $base-unit-half 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098),
				0 1px $base-unit-half 0 rgba(0, 0, 0, 0.084);
		}

		.switch-on {
			display: none;
		}

		.switch-off {
			display: inline-block;
		}
	}

	.switch-input:checked+.switch-label:before {
		background-color: $secondary-color-transparent;
	}

	.switch-input:checked+.switch-label:after {
		background-color: $secondary-color-normal;
		-ms-transform: translate(80%, -50%);
		-webkit-transform: translate(80%, -50%);
		transform: translate(80%, -50%);
	}

	.switch-input:checked+.switch-label .switch-on {
		display: inline-block;
	}

	.switch-input:checked+.switch-label .switch-off {
		display: none;
	}
}

.vieolo-icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:active {
		outline: none;
	}

	&--medium {
		height: $row-height-medium;
		width: $row-height-medium;

		svg {
			width: $row-height-small - $base-unit-half;
			height: $row-height-small - $base-unit-half;
		}
	}

	&--small {
		height: $row-height-small;
		width: $row-height-small;

		svg {
			width: $row-height-small - $base-unit;
			height: $row-height-small - $base-unit;
		}
	}

	&--extra-small {
		height: calc($row-height-small - $base-unit-half);
		width: calc($row-height-small - $base-unit-half);

		svg {
			width: calc($row-height-small - $base-unit-half - $base-unit);
			height: calc($row-height-small - $base-unit-half - $base-unit);
		}
	}

	&--border-radius-full {
		border-radius: $border-radius-full;
	}

	&--border-radius-normal {
		border-radius: $border-radius-normal;
	}

	&--border-radius-default {
		border-radius: $border-radius-half;
	}

	&--border-radius-half {
		border-radius: $border-radius-half;
	}

	&--border-radius-none {
		border-radius: 0px;
	}
}

.vieolo-select {
	display: inline-block;
	width: 160px;

	&__select-button {
		@include card-no-shadow;
		margin: 0 auto;
		@include tertiary-background;
		border-color: $tertiary-color-normal;
		cursor: pointer;
		@include flex-row-space-between;
		@include no-text-overflow;
		width: 160px;
		padding: 0 $base-unit-half;

		&:focus {
			border: 2px solid $secondary-color-normal;
			outline: none;
		}

		&--error {
			p {
				@include error-color;
			}
		}

		&--medium {
			height: $row-height-medium;
		}

		&--small {
			height: $row-height-small;
		}

		&__button-text {
			justify-content: center;
			display: flex;
			flex-flow: column;
			width: 120px;

			&__button-title {
				margin: 0;
			}

			&__button-value {
				margin: 0;
				@include no-text-overflow;
			}
		}

		.vieolo-icon-button {
			background-color: $tertiary-color-normal;
		}

		input {
			background-color: $tertiary-color-normal;
			border: none;

			&:focus,
			&:active {
				outline: none;
			}
		}
	}

	&__modal-title {
		margin-bottom: $base-unit-half;
		text-align: center;
	}

	&__select-dropdown {
		position: fixed;
		width: 160px;
		z-index: 99;
		background-color: white;
		box-shadow: $box-shadow-dark;
		border-radius: $base-unit-half;
		max-height: 240px;
		overflow-y: auto;

		@media(pointer: coarse) {
			position: static;
			width: 240px;
			max-height: 300px;
		}
	}

	&__select-item {
		padding: $base-unit-half;
		height: $row-height-small;
		cursor: pointer;
		border-radius: $base-unit-half;
		@include transition;
		color: $primary-color-normal;
		font-size: 12px;
		@include no-text-overflow;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (pointer: coarse) {
			height: $row-height-medium;
			font-size: 14px;
		}

		&:hover {
			background-color: $hover-color;
		}

		&--selected {
			@include tertiary-background;
		}

		&--subtitle {
			height: $row-height-medium;
		}

		&--keyboard-focus {
			background-color: $primary-color-light;
		}

		&__category-name {
			font-size: 12px;
			margin: 0;
			padding: $base-unit 0px $base-unit-half $base-unit;
			font-weight: $font-weight-bold;
			border-bottom: 1px solid $primary-color-normal;
			position: sticky;
			top: 0;
			background-color: white;
		}
	}
}

.vieolo-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.4);
	@include center-by-flex-column;
}

.vieolo-modal-header {
	@include primary-background;
	@include center-by-flex-row;
	text-align: center;
	margin-top: 0;
	padding: $base-unit 0;
	border-radius: $base-unit $base-unit 0 0;

	&>p {
		margin: $base-unit-half 0;
	}
}

.vieolo-modal-button-footer {
	border-radius: 0 0 $base-unit $base-unit;
	border-top: 1px solid gray;
	padding: $base-unit;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
}

.vieolo-dropdown-menu {
	display: inline-block;

	.dropdown {
		position: fixed;
		z-index: 99;
		width: 190px;
		padding: $base-unit-half;
		@include card-dark-shadow;
		max-height: 240px;
		overflow: scroll;
	}

	&__dropdown-item {
		padding: $base-unit-half;
		cursor: pointer;
		border-radius: $universal-border-radius-half;
		@include transition;
		display: flex;
		align-items: center;

		&:hover {
			background-color: $hover-color;
		}

		&--keyboard-focus {
			background-color: $primary-color-light;
		}

		p {
			padding: 0px $base-unit-half;
		}

		svg {
			height: $base-unit-two;
		}
	}
}

.vieolo-file-input {
	width: 100%;
	height: 100%;
	border: 4px dashed #f2f2f2;
	position: relative;
	@include center-by-flex-row;
	box-sizing: border-box;

	input {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		outline: none;
		opacity: 0;
	}
}

.vieolo-chip {
	height: $row-height-small;
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;

	&__content {
		height: $row-height-small;
		padding: 2px $base-unit-half;
		@include center-by-flex-row;

		p {
			font-size: 11px;
			font-weight: $font-weight-bold;
			@include nonselectable;
		}

		&>span {
			margin-left: $base-unit-half;
		}
	}

	&--border-radius-default {
		border-radius: $border-radius-full;
	}

	&--border-radius-full {
		border-radius: $border-radius-full;
	}

	&--border-radius-normal {
		border-radius: $border-radius-normal;
	}

	&--border-radius-half {
		border-radius: $border-radius-half;
	}

	&--border-radius-none {
		border-radius: 0px;
	}

	//.chip-content-selected {
	//	@include secondary-background;
	//}
}

.vieolo-item-row {
	width: 100%;
	margin: 6px 0;

	&__item-content {
		padding: 0 $base-unit;
	}

	input {
		background: transparent;
		border: none;
		font-size: 14px;
		width: 70%;
		border-radius: inherit;

		&:focus,
		&:active {
			outline: none;
		}
	}

	&__title-col {
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			margin: 2px;
			@include no-text-overflow;
		}
	}

	&__button-col {
		@include center-by-flex-column;
	}

	&__item-with-icon {
		display: grid;
		grid-template-columns: 40px minmax(0, 1fr) 30px;
	}

	&__item-without-icon {
		display: grid;
		grid-template-columns: minmax(0, 1fr) 30px;
	}

	&__leading-icon-div {
		@include center-by-flex-column;
	}

	&--border-radius-default {
		border-radius: $border-radius-normal;
	}

	&--border-radius-full {
		border-radius: $border-radius-full;
	}

	&--border-radius-normal {
		border-radius: $border-radius-normal;
	}

	&--border-radius-half {
		border-radius: $border-radius-half;
	}

	&--border-radius-none {
		border-radius: 0px;
	}
}

.vieolo-pdf-viewer-component {
	background-color: #e4e4e4;
	width: 100%;
	text-align: center;
	position: relative;

	$self: &;

	&--full {
		height: 100vh;

		#{$self}__toolbar {
			position: fixed;
			z-index: 999;
		}
	}


	&--loading,
	&--error {
		#{$self}__content {
			height: 90%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}

	&__toolbar {
		background-color: $content-background-color;
		height: $row-height-small;
		padding: 1px;
		border-radius: inherit;
		width: 100%;
		border: 1px solid $primary-color-normal;
		@include flex-row-space-between;
		position: absolute;
		top: 0;
		z-index: 2;

		@media (pointer: coarse) {
			height: $row-height-medium;

			.vieolo-icon-button {
				height: $row-height-small;
				width: $row-height-small;
			}
		}
	}

	&__canvas-container {
		overflow: auto;
		width: 100%;
		padding: $base-unit;
		position: absolute;
		top: 30px;

		@media (pointer: coarse) {
			top: 41px;
		}

		&--full {
			height: 100vh;
			top: 0;
			padding-top: 15vh;
			padding-bottom: 10vh;
			overflow-y: scroll;
		}
	}

	&__page {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		min-height: 1px;

		::-moz-selection {
			background: transparent;
		}

		::selection {
			background: transparent;
		}

		&__text-layer {
			position: absolute;
			text-align: initial;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			opacity: 0.2;
			line-height: 1;

			span,
			br {
				color: transparent;
				position: absolute;
				white-space: pre;
				cursor: text;
				transform-origin: 0% 0%;
			}

			.highlight {
				margin: -1px;
				padding: 1px;
				background-color: rgba(180, 0, 170, 1);
				border-radius: 4px;
			}

			.highlight.appended {
				position: initial;
			}

			.highlight.begin {
				border-radius: 4px 0 0 4px;
			}

			.highlight.end {
				border-radius: 0 4px 4px 0;
			}

			.highlight.middle {
				border-radius: 0;
			}

			.highlight.selected {
				background-color: rgba(0, 100, 0, 1);
			}

			::-moz-selection {
				background: rgba(0, 0, 255, 1);
			}

			::selection {
				background: rgba(0, 0, 255, 1);
			}

			br {
				::-moz-selection {
					background: transparent;
				}

				::selection {
					background: transparent;
				}
			}

			.endOfContent {
				display: block;
				position: absolute;
				left: 0;
				top: 100%;
				right: 0;
				bottom: 0;
				z-index: -1;
				cursor: default;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			.endOfContent.active {
				top: 0;
			}
		}

		&__annotation-layer {
			section {
				position: absolute;
				text-align: initial;
			}

			.linkAnnotation>a,
			.buttonWidgetAnnotation.pushButton>a {
				position: absolute;
				font-size: 1em;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.buttonWidgetAnnotation.pushButton>canvas {
				position: relative;
				top: 0;
				left: 0;
				z-index: -1;
			}

			.linkAnnotation>a:hover,
			.buttonWidgetAnnotation.pushButton>a:hover {
				opacity: 0.2;
				background: rgba(255, 255, 0, 1);
				box-shadow: 0 2px $base-unit rgba(255, 255, 0, 1);
			}

			.textAnnotation img {
				position: absolute;
				cursor: pointer;
			}

			.textWidgetAnnotation input,
			.textWidgetAnnotation textarea,
			.choiceWidgetAnnotation select,
			.buttonWidgetAnnotation.checkBox input,
			.buttonWidgetAnnotation.radioButton input {
				background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='1px' height='1px' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill:rgba(0, 54, 255, 0.13);'/></svg>");
				border: 1px solid transparent;
				box-sizing: border-box;
				font-size: 9px;
				height: 100%;
				margin: 0;
				padding: 0 $base-unit-half;
				vertical-align: top;
				width: 100%;
			}

			.choiceWidgetAnnotation select option {
				padding: 0;
			}

			.buttonWidgetAnnotation.radioButton input {
				border-radius: 50%;
			}

			.textWidgetAnnotation textarea {
				font: message-box;
				font-size: 9px;
				resize: none;
			}

			.textWidgetAnnotation input[disabled],
			.textWidgetAnnotation textarea[disabled],
			.choiceWidgetAnnotation select[disabled],
			.buttonWidgetAnnotation.checkBox input[disabled],
			.buttonWidgetAnnotation.radioButton input[disabled] {
				background: none;
				border: 1px solid transparent;
				cursor: not-allowed;
			}

			.textWidgetAnnotation input:hover,
			.textWidgetAnnotation textarea:hover,
			.choiceWidgetAnnotation select:hover,
			.buttonWidgetAnnotation.checkBox input:hover,
			.buttonWidgetAnnotation.radioButton input:hover {
				border: 1px solid rgba(0, 0, 0, 1);
			}

			.textWidgetAnnotation input:focus,
			.textWidgetAnnotation textarea:focus,
			.choiceWidgetAnnotation select:focus {
				background: none;
				border: 1px solid transparent;
			}

			.textWidgetAnnotation input :focus,
			.textWidgetAnnotation textarea :focus,
			.choiceWidgetAnnotation select :focus,
			.buttonWidgetAnnotation.checkBox :focus,
			.buttonWidgetAnnotation.radioButton :focus {
				background-image: none;
				background-color: transparent;
				outline: auto;
			}

			.buttonWidgetAnnotation.checkBox input:checked:before,
			.buttonWidgetAnnotation.checkBox input:checked:after,
			.buttonWidgetAnnotation.radioButton input:checked:before {
				background-color: rgba(0, 0, 0, 1);
				content: "";
				display: block;
				position: absolute;
			}

			.buttonWidgetAnnotation.checkBox input:checked:before,
			.buttonWidgetAnnotation.checkBox input:checked:after {
				height: 80%;
				left: 45%;
				width: 1px;
			}

			.buttonWidgetAnnotation.checkBox input:checked:before {
				transform: rotate(45deg);
			}

			.buttonWidgetAnnotation.checkBox input:checked:after {
				transform: rotate(-45deg);
			}

			.buttonWidgetAnnotation.radioButton input:checked:before {
				border-radius: 50%;
				height: 50%;
				left: 30%;
				top: 20%;
				width: 50%;
			}

			.textWidgetAnnotation input.comb {
				font-family: monospace;
				padding-left: 2px;
				padding-right: 0;
			}

			.textWidgetAnnotation input.comb:focus {
				/*
				 * Letter spacing is placed on the right side of each character. Hence, the
				 * letter spacing of the last character may be placed outside the visible
				 * area, causing horizontal scrolling. We avoid this by extending the width
				 * when the element has focus and revert this when it loses focus.
				 */
				width: 103%;
			}

			.buttonWidgetAnnotation.checkBox input,
			.buttonWidgetAnnotation.radioButton input {
				appearance: none;
				padding: 0;
			}

			.popupWrapper {
				position: absolute;
				width: 20em;
			}

			.popup {
				position: absolute;
				z-index: 200;
				max-width: 20em;
				background-color: rgba(255, 255, 153, 1);
				box-shadow: 0 2px $base-unit-half rgba(136, 136, 136, 1);
				border-radius: 2px;
				padding: 6px;
				margin-left: $base-unit-half;
				cursor: pointer;
				font: message-box;
				font-size: 9px;
				white-space: normal;
				word-wrap: break-word;
			}

			.popup>* {
				font-size: 9px;
			}

			.popup h1 {
				display: inline-block;
			}

			.popupDate {
				display: inline-block;
				margin-left: $base-unit-half;
			}

			.popupContent {
				border-top: 1px solid rgba(51, 51, 51, 1);
				margin-top: 2px;
				padding-top: 2px;
			}

			.richText>* {
				white-space: pre-wrap;
			}

			.highlightAnnotation,
			.underlineAnnotation,
			.squigglyAnnotation,
			.strikeoutAnnotation,
			.freeTextAnnotation,
			.lineAnnotation svg line,
			.squareAnnotation svg rect,
			.circleAnnotation svg ellipse,
			.polylineAnnotation svg polyline,
			.polygonAnnotation svg polygon,
			.caretAnnotation,
			.inkAnnotation svg polyline,
			.stampAnnotation,
			.fileAttachmentAnnotation {
				cursor: pointer;
			}
		}
	}
}

.vieolo-back-button-row {
	height: 50px;
	margin: $base-unit 0;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	@include card-light-shadow;
	top: 0;
	z-index: 10;

	.back-button-container {
		display: flex;
		align-items: center;
		margin-left: $base-unit-half;
	}

	.center-component {
		@include center-by-flex-row;
	}

	.other-button-container {
		display: flex;
		flex-flow: row-reverse;
		align-items: center;
		margin-right: $base-unit;
	}
}

.vieolo-back-button-row-center-large {
	grid-template-columns: 200px 1fr 200px;

	.tab {
		margin: 0;

		nav {
			margin: 0;
		}
	}
}

.vieolo-back-button {
	display: flex;
	align-items: center;

	p {
		margin-left: $base-unit;
	}
}

.vieolo-period-selector {
	width: 277px;
	height: 30px;
	@include flex-start;

	&__carousel-div,
	&__year-div,
	&__dropdown-div {
		height: 30px;
		border-radius: $base-unit-half;
		@include primary-background;

		svg {
			color: $primary-color-text;
		}

		button {
			background-color: transparent;
		}
	}

	&__carousel-div {
		width: 188px;
		@include flex-row-space-between;

		p {
			color: $primary-color-text;
		}
	}

	&__year-div {
		width: 51px;
		margin-left: 7px;
		@include center-by-flex-row;

		p {
			color: $primary-color-text;
		}
	}

	&__dropdown-div {
		width: 30px;
		height: 30px;
		margin-left: 7px;
		@include center-by-flex-row;
	}

	&__dropdown-button {
		width: 30px;
		height: 30px;
		@include center-by-flex-row;
		cursor: pointer;
	}
}

.vieolo-form-dialog {
	background-color: white;
	border-radius: $base-unit-half;

	&__header {
		border-bottom: 1px solid #f2f2f2;
		height: 40px;
		padding: 0 $base-unit;
	}

	&__footer {
		height: 50px;
		border-top: 2px solid #f2f2f2;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 $base-unit;

		&__spacer {
			&--left {
				margin-left: auto;
			}

			&--middle {
				width: $base-unit-half;
			}
		}
	}
}

.vieolo-confirmation-dialog {
	background-color: white;
	border-radius: $base-unit-half;

	&__header {
		border-bottom: 1px solid #f2f2f2;
		height: 40px;
		padding: 0 $base-unit;
	}

	&__footer {
		height: 50px;
		border-top: 2px solid #f2f2f2;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 $base-unit;
		margin-top: 20px;

		&__spacer {
			&--left {
				margin-left: auto;
			}

			&--middle {
				width: $base-unit-half;
			}
		}
	}
}

.vieolo-list {
	width: 100%;
	overflow: scroll;
}

.vieolo-table {
	background-color: white;
	border-top-left-radius: $base-unit-half;
	border-top-right-radius: $base-unit-half;

	&--headless {
		border-radius: 0px;
		border: 1px solid #ddd;
	}

	&__header-row {
		background-color: #f2f2f2;
		display: grid;
		border-top-left-radius: $base-unit-half;
		border-top-right-radius: $base-unit-half;
		z-index: 1;

		&__cell {
			height: 40px;
			display: flex;
			padding: 0px 4px;
			display: flex;
			align-items: center;
			@include nonselectable;

			p {
				margin: 0;
			}
		}
	}

	&__content-row {
		display: grid;
		border-bottom: 1px solid #f2f2f2;

		&__cell {
			height: 40px;
			display: flex;
			padding: 0px 4px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		$this: &;

		&--dense {
			#{$this}__cell {
				height: 28px;
			}
		}

		&--checked {
			& {
				background-color: $tertiary-color-light;
			}
		}
	}

	&__pagination-row {
		display: flex;
		flex-direction: row-reverse;
		padding: $base-unit-half;
	}
}

.vieolo-radio-group {
	display: inline-block;

	&__radio-contents {
		border-radius: $universal-border-radius-half;
		background-color: white;
		border: 1px solid #f2f2f2;

		&--vertical {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&--horizontal {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__radio-button {
		height: 30px;
		cursor: pointer;
		@include center-by-flex-row;
		border-radius: $universal-border-radius-half;

		&:hover {
			background-color: #f2f2f2;
		}

		&--selected {
			background-color: $primary-color-normal;

			&:hover {
				background-color: $primary-color-normal;
			}

			p,
			svg {
				color: $primary-color-text;
			}
		}

		&--vertical {
			width: 100%;
		}
	}
}

.vieolo-tab-switch {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-sizing: content-box;

	&__tab-nav {
		font-size: 15px;
		padding: 0px;
		list-style: none;
		background: #fff;
		display: inline-block;
		border-radius: $base-unit-half;
		position: relative;

		@media all and (max-width: $mobileBreakPoint) {
			font-size: 10px;
		}

		&--active {
			color: #fff !important;
			background-color: $primary-color-normal;
			border-radius: $base-unit-half;
		}

		a {
			text-decoration: none;
			color: #777;
			font-size: 14px;
			padding: 6px 0;
			display: inline-block;
			position: relative;
			z-index: 1;
			transition-duration: 0.6s;
			cursor: pointer;
			font-weight: 400;

			i {
				margin-right: $base-unit-half;
			}
		}
	}

	&__selector {
		height: 100%;
		display: inline-block;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 1;
		transition-duration: 0.6s;
	}
}

.vieolo-calendar-statefull-component {
	@include card-dark-shadow;
	display: inline-block;

	&__calendar-month,
	&__calendar-year {
		@include center-by-flex-row;

		@media(pointer: coarse) {
			margin: $base-unit-half;
		}

		p {
			width: 130px;
			text-align: center;
			margin: 0 8px;
		}
	}
}

.vieolo-calendar-stateless-component {
	&__calendar-content {
		width: 210px;

		@media(pointer: coarse) {
			width: 270px;
		}

		border-top: 1px solid #f2f2f2;

		&--with-week {
			width: 240px;

			@media(pointer: coarse) {
				width: 300px;
			}
		}
	}

	&__row-header,
	&__row {
		display: grid;
		justify-items: center;

		div {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			font-size: 10px;
			font-weight: 500;
			color: gray;

			@media(pointer: coarse) {
				width: 30px;
				height: 30px;
				font-size: 15px;
			}

			@include center-by-flex-row;
		}
	}

	&__row-header {
		margin: 0;

		&--no-week {
			grid-template-columns: repeat(7, 1fr);
		}

		&--with-week {
			grid-template-columns: repeat(8, 1fr);
		}
	}

	&__row {
		margin: $base-unit-half 0;

		@media(pointer: coarse) {
			margin: $base-unit-half 0;
		}

		&--no-week {
			grid-template-columns: repeat(7, 1fr);
		}

		&--with-week {
			grid-template-columns: repeat(8, 1fr);
		}

		div {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			font-size: 10px;
			@include center-by-flex-row;
			cursor: pointer;

			@media(pointer: coarse) {
				width: 30px;
				height: 30px;
				font-size: 15px;
			}

			&:hover {
				background: $hover-color;
				background-image: $hover-color;
			}
		}

		&__today {
			background-color: $accessory-green-normal;
		}

		&__not-in-same-month {
			color: gray;
		}
	}

	&__week-col {
		background-color: #f2f2f2;
	}

	&__selected {
		background-color: $primary-color-normal;
		color: $primary-color-text;
	}

	&__today {
		background-color: $accessory-green-normal;
		color: $accessory-green-text;
	}

	&__selected#{&}__today {
		border: 1px solid $primary-color-normal;
	}

	&__not-in-same-month {
		color: gray;
	}
}

.vieolo-date-picker {
	position: relative;
	display: inline-block;

	&__button-container {

		$this: &;

		&:focus {
			outline: none;

			#{$this}__default-button {
				background-color: $hover-color;
				border: 2px solid $hover-color;
			}
		}

		&__default-button {
			width: 140px;
			padding: 2px $base-unit;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 56px;
			@include card-no-shadow;
			@include card-selectable;
			@include ripple-tertiary;

			&__text-container {
				height: 50px;
				display: grid;
				grid-template-rows: 33% 33% 34%;
			}
		}
	}

	&__modal-title {
		margin-top: $base-unit-half;
		text-align: center;
	}

	.vieolo-calendar-statefull-component {
		position: absolute;

		@media(pointer: coarse) {
			position: static;
			margin-top: $base-unit;
		}

		z-index: 11;
	}
}

.vieolo-bar-chart {
	position: relative;

	&__tooltip {
		position: absolute;
		@include card-light-shadow;
		padding: $base-unit;
		top: 0;
		//transform: translateX(-50%);
	}
}

.vieolo-gantt-chart {
	border: 2px solid #ddd;
	border-radius: $base-unit-half;
	position: relative;
	background-color: white;
	@include nonselectable;

	&__base {
		display: flex;
		height: 100%;

		&__item-column {
			width: 100px;
			height: 100%;
			text-align: center;
			border-right: 2px dotted #ddd;
			box-sizing: border-box;

			&__item-title {
				height: 45px;
				@include center-by-flex-column;

				p {
					margin: 0;
				}
			}
		}

		&__data-column {
			height: 100%;
			text-align: center;
			border-right: 2px dotted #ddd;
			box-sizing: border-box;

			&__title-container {
				height: 45px;
				@include center-by-flex-column;
				position: sticky;
				top: 0;
				background-color: white;
				z-index: 6;

				p {
					margin: 0;
				}
			}
		}
	}

	&__group-div {
		position: absolute;
		top: 45px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 20px;
		display: flex;
		align-items: center;
		width: 100%;

		&__item-column {
			width: 100px;
			padding-left: $base-unit-half;
			padding-right: $base-unit-half;
			display: flex;
			flex-flow: column;
			justify-content: center;
		}

		&__group-column {
			width: calc(100% - 100px);
			position: relative;
			height: 20px;

			&__group-bar {
				position: absolute;
				height: 15px;
				top: 0px;
				border-radius: 0 0 2px 2px;
				box-sizing: border-box;
				padding: 0 $base-unit-half;
				text-align: center;
				display: flex;
				flex-flow: column;
				justify-content: center;
				border: 1px solid $primary-color-normal;
				border-top: none;
				font-size: 10px;
				font-weight: $font-weight-bold;
			}
		}
	}

	&__content-div {
		position: absolute;
		top: 45px;
		left: 0;
		right: 0;
		bottom: 0;

		&__row:nth-child(odd) {
			background-color: rgba(232, 232, 255, 0.4);
		}

		&__row {
			height: 45px;
			display: flex;
			align-items: center;
			width: 100%;

			&__item-column {
				width: 100px;
				padding-left: $base-unit-half;
				padding-right: $base-unit-half;
				display: flex;
				flex-flow: column;
				justify-content: center;
				@include nonselectable;

				&__title {
					margin: 0;
					font-size: 15px;
					font-weight: bold;
					@include no-text-overflow;
				}
			}

			&__bar-column {
				width: calc(100% - 100px);
				position: relative;
				height: 45px;

				&__bar {
					position: absolute;
					height: 35px;
					top: $base-unit-half;
					border-radius: $base-unit-half;
					box-sizing: border-box;
					padding: 0 $base-unit-half;
					text-align: center;
					display: flex;
					flex-flow: column;
					justify-content: center;
					border: 1px solid;
					resize: both;

					p {
						margin: 0;
						padding: 0;
					}

					&__row-title {
						font-size: 12px;
						font-weight: bold;
						@include no-text-overflow;
						@include nonselectable;
					}

					&__row-subtitle {
						font-size: 11px;
						@include no-text-overflow;
						@include nonselectable;
					}

					svg {
						align-self: center;
					}

					&--primary {
						background-color: $primary-color-transparent;
						border: 1px solid $primary-color-normal;
					}

					&--secondary {
						background-color: $secondary-color-transparent;
						border: 1px solid $secondary-color-normal;
					}

					&--tertiary {
						background-color: $tertiary-color-transparent;
						border: 1px solid $tertiary-color-normal;
					}

					&--error {
						background-color: $error-color-transparent;
						border: 1px solid $error-color-normal;
					}

					&--success {
						background-color: $success-color-transparent;
						border: 1px solid $success-color-normal;
					}

					&--alert {
						background-color: $alert-color-transparent;
						border: 1px solid $alert-color-normal;
					}

					&--accessory-blue {
						background-color: $accessory-blue-transparent;
						border: 1px solid $accessory-blue-normal;
					}

					&--accessory-green {
						background-color: $accessory-green-transparent;
						border: 1px solid $accessory-green-normal;
					}

					&--accessory-orange {
						background-color: $accessory-orange-transparent;
						border: 1px solid $accessory-orange-normal;
					}

					&__bar-start {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						border-left: none;
					}

					&__bar-end {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						border-right: none;
					}

					&__resize {
						position: absolute;
						width: $base-unit-half;

						height: 100%;
						cursor: col-resize;

						&--left {
							left: -1px;
							border-radius: inherit;

							&:hover {
								width: 6px;
							}
						}

						&--right {
							right: -1px;
							border-radius: inherit;

							&:hover {
								width: 6px;

							}
						}
					}
				}

				&__bar-subtitle {
					svg {
						height: 16px;
						width: 16px;
					}
				}

				&__sup-item-bar {
					position: absolute;
					background-color: $success-color-normal;
					height: $base-unit-half;
					bottom: 36px;
					z-index: 5;
				}

				&__sub-item-bar {
					position: absolute;
					background-color: $accessory-blue-normal;
					height: $base-unit-half;
					top: 36px;
					z-index: 5;
				}
			}
		}

		&__drop-zone {
			position: absolute;
			height: $base-unit-half;
			width: 100%;

			&--top {
				transform: translateY(-22.5px)
			}

			&--bottom {
				transform: translateY(22.5px)
			}
		}
	}

	.vieolo-radio-group {
		svg {
			height: 15px;
			width: 15px;
		}
	}
}

.vieolo-context-menu {
	box-sizing: border-box;
	position: fixed;
	@include card-dark-shadow;
	border-radius: $base-unit-half;
	z-index: 99;

	&__menu-row {
		border-radius: $base-unit-half;
		width: 130px;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: $base-unit-half;

		&:hover {
			background-color: #f2f2f2;
		}

		svg {
			height: 22px;
		}

		p {
			margin: $base-unit-half;
			font-size: 12px;
			font-weight: $font-weight-bold;
		}
	}

	&__menu-row-primary {
		svg {
			color: $primary-color-normal;
		}
	}

	&__menu-row-error {
		svg {
			color: $error-color-normal;
		}
	}
}

.vieolo-checkbox {
	width: 21px;
	height: 21px;
	position: relative;

	&:focus {
		outline: none;

		input {
			border: 1px solid $secondary-color-normal;
		}
	}

	input,
	svg {
		width: 21px;
		height: 21px;
		display: block;
	}

	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		outline: none;
		background: white;
		border: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		border-radius: 4px;
		transition: box-shadow 0.3s;
		box-shadow: inset 0 0 0 1px $primary-color-light;

		&:hover {
			box-shadow: inset 0 0 0 2px $primary-color-light;
		}

		&:checked {
			box-shadow: inset 0 0 0 2px $primary-color-normal;
			transition-delay: 0.2s;

			&+svg {
				--a: 16.1 86.12;
				--o: 102.22;
				stroke-dasharray: 16.1 86.12;
				stroke-dashoffset: 102.22;
			}
		}
	}

	svg {
		pointer-events: none;
		fill: none;
		stroke-width: 2px;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: $primary-color-normal;
		position: absolute;
		top: 0;
		left: 0;
		width: 21px;
		height: 21px;
		transform: scale(1) translateZ(0);
		stroke-dasharray: 86.12;
		stroke-dashoffset: 86.12;
		transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
	}
}


.vieolo-date-time-picker {

	.vieolo-date-picker {
		&__button-container {

			$this: &;

			&:focus {
				outline: none;

				.vieolo-date-time-picker {
					&__input-container {
						&__date-picker-button {
							background-color: $hover-color;
							border: 2px solid $hover-color;
						}
					}
				}

				#{$this}__default-button {
					background-color: $hover-color;
					border: 2px solid $hover-color;
				}
			}
		}
	}

	&__label-container {
		height: 30px;
		@include flex-row-space-between;
		padding: 0 $base-unit-half;

		label {
			margin: 0;
			font-size: 12px;
			font-weight: $font-weight-bold;
		}
	}

	&__input-container {
		display: flex;


		&__date-picker-button {
			display: flex;
			border-radius: $base-unit-half;
			align-items: center;
			background-color: #f2f2f2;
			border: 2px solid #f2f2f2;
			font-size: 14px;
			box-sizing: border-box;
			padding: 2px 2px 2px $base-unit-half;
			cursor: pointer;
			margin-right: $base-unit-half;
			height: 30px;

			svg {
				height: 20px;
				width: 20px;
				margin-left: $base-unit-half;
			}
		}
	}
}


.vieolo-card {
	&--border-radius-default {
		border-radius: $border-radius-normal;
	}

	&--border-radius-full {
		border-radius: $border-radius-full;
	}

	&--border-radius-normal {
		border-radius: $border-radius-normal;
	}

	&--border-radius-half {
		border-radius: $border-radius-half;
	}

	&--border-radius-none {
		border-radius: 0px;
	}
}



.vieolo-grid-container {
	display: grid;
}


.vieolo-expandable-card {
	&__header {
		display: flex;
		align-items: center;
		padding: 0 $base-unit-half;

		&--expanded {
			border-bottom: 1px solid $disable-color-normal;
		}

		&__actions {
			margin-left: auto;
		}
	}

	&__body {
		padding: $base-unit-half;
	}
}


.vieolo-divider {
	display: flex;

	&--horizontal {
		width: 100%;
	}

	&--vertical {
		flex-direction: column;
		height: 100%;
		width: $base-unit-half;
	}

	&--start {
		justify-content: start;
	}

	&--center {
		justify-content: center;
	}

	&--end {
		justify-content: end;
	}
}


.vieolo-title-period-card {
	&__header {
		height: $row-height-large;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;

			&__date {
				display: flex;
				align-items: flex-end;
				column-gap: $base-unit;
			}
		}

		&__action {
			display: flex;
			flex-direction: row-reverse;
		}
	}
}


.vieolo-spinner {
	animation: rotate 2s linear infinite;

	&--extra-small {
		width: $base-unit-two;
		height: $base-unit-two;
	}

	&--small {
		width: $row-height-small;
		height: $row-height-small;
	}

	&--medium {
		width: $row-height-medium;
		height: $row-height-medium;
	}

	&--large {
		width: $row-height-large;
		height: $row-height-large;
	}

	&__path {
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;

		@include colorMixin(stroke, false);
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes dash {
		0% {
			stroke-dasharray: 1, 150;
			stroke-dashoffset: 0;
		}

		50% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -35;
		}

		100% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -124;
		}
	}

}


.vieolo-table-interactive {

	&__cell {
		display: flex;
		padding: 0px $base-unit-half;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: solid 0.1px #ddd;
		position: relative;
		@include nonselectable;

		&--height-medium {
			height: $row-height-medium;
		}

		&--height-small {
			height: $row-height-small;
		}

		&--hover {
			&:hover {
				border: solid 0.2px $secondary-color-normal;
			}
		}
	}

	&__header-row {
		border: 1px solid #f2f2f2;
		display: grid;
		background-color: white;
		top: -20px;
	}

	&__content-row {
		display: grid;
	}

	&__bottom-row {
		position: sticky;
		bottom: 0px;
		background-color: white;
		height: $row-height-medium;
		z-index: 3;
		border: solid 0.1px #ddd;
		bottom: -20px;
	}
}

.vieolo-set-row-template {
	padding: $base-unit-half;
	grid-template-columns: 1fr 50px;
	border: 2px solid transparent;
	display: flex;
	justify-content: space-between;

	&--clickable {
		cursor: pointer;

		&:hover {
			border: 2px solid $hover-color;
			border-radius: $base-unit-half;
		}
	}

	&:focus {
		border: 2px solid $hover-color;
		border-radius: $base-unit-half;
		outline: none;
	}

	&--height-default {
		height: $row-height-large;
	}

	p {
		margin: 0;
		@include nonselectable;
	}

	&__title-container {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	&__right-container {
		@include center-by-flex-row;
	}
}

.vieolo-form-section {

	&__header-container {
		padding: $base-unit-half $base-unit;
		border-bottom: 1px solid $primary-color-transparent;
		@include flex-row-space-between;
	}

	&__content-container {
		padding: $base-unit-half $base-unit;
		flex-direction: column;
	}
}

.vieolo-donut-chart {
	display: flex;
	align-items: center;

	&__chart-container {
		position: relative;
		display: inline-block;

		h2 {
			text-align: center;
			position: absolute;
			line-height: 135px;
			width: 100%;
			font-size: 15px;
		}

		svg {
			transform: rotate(-90deg);
		}

		&__donut {
			stroke-dasharray: 440;
			-webkit-animation: donut 1s ease-out forwards;
			animation: donut 1s ease-out forwards;
			@include colorMixin(stroke, false);
		}
	}

	&__legend-container {
		height: 170px;
		display: flex;
		flex-flow: column;
		padding-left: $base-unit-two;
		flex-wrap: wrap;

		&__legend-item {
			display: flex;
			width: 80px;
			margin-top: $base-unit-half;
			align-items: center;
			cursor: pointer;

			div:nth-child(1) {
				height: $base-unit;
				width: $base-unit;
				border-radius: 50%;
				margin-right: $base-unit-half;
			}

			div:nth-child(2) {
				width: 65px;

				p {
					@include no-text-overflow;
					margin: 0;
				}

				.title {
					font-size: 12px;
				}

				.subtitle {
					font-size: 10px;
					@include font-light;
				}
			}
		}

		&__legend-item:nth-child(odd) {
			background-color: #f2f2f2;
			border-radius: $base-unit-half;
		}
	}
}


.vieolo-navbar {
	height: $navbar-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}


.vieolo-nav-drawer {

	&__drawer {
		position: fixed;
		top: $navbar-height;
		width: $drawer-width;
		left: -$drawer-width;;
		bottom: 0px;
		background-color: $content-background-color;
		padding: 0px;
		z-index: 999;
		@include transition;

		&--open {
			left: 0;
			padding: 10px 0px;
			overflow-y: auto;			
		}
	}	

	&__outer-area {

		&__open {
			position: fixed;
			top: $navbar-height;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 998;
			background-color: rgba(0, 0, 0, 0.4);
			transition: all 0.5s ease;
		}

		&__close {
			display: none;
		}
	}

	&__item {
		width: $drawer-item-width;
		border-radius: 0 20px 20px 0;
		height: 40px;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		margin-left: 0px;
		text-decoration: none;
		padding-left: $base-unit-two;
		cursor: pointer;
		@include transition;

		&:hover {
			background-color: $secondary-color-light;
		}

		svg {
			margin-left: 10px;
		}

		p {
			margin-left: 15px;	
		}		

		&--selected {
			background-color: $secondary-color-normal;

			svg,
			p {
				color: $secondary-color-text;
			}
		}
	}
}

.vieolo-sub-navbar-row {
	height: $subnavbar-height;
	background-color: $content-background-color;
}


.vieolo-page {
	padding-top: $navbar-height;
	
	&__content {	
		padding: $base-unit;
	}
}