@import '../style/vieolo-ui';


.main-page {
    display: grid;
    grid-template-columns: 200px 280px 1fr;
    column-gap: 10px;
    padding: 10px;
    padding-top: $navbar-height;

    &--no-content {
        @media all and (max-width: $mobileBreakPoint) {
            grid-template-columns: 50% 1fr;

            .component-state-display {
                display: none;
            }
        }
    }

    &--content {
        @media all and (max-width: $mobileBreakPoint) {
            display: block;

            .component-list,
            .state-list {
                display: none;
            }
        }
    }

    .component-list,
    .state-list,
    .component-state-display {
        height: calc(100vh - 20px - $navbar-height);
        overflow-y: scroll;
    }

    .component-list,
    .state-list {
        @media (pointer: coarse) {
            height: 80vh;
        }
    }



    .component-state-display {
        padding: 20px;
        @include card-no-shadow;

        @media (pointer: coarse) {
            @include height--100vh-fill;
        }
    }

    .floating-action-button {
        background-color: $primary-color-normal;
        color: $primary-color-text;
        height: $row-height-medium;
        width: $row-height-medium;
        position: fixed;
        bottom: $base-unit;
        right: $base-unit;
        z-index: 10;
        border-radius: $border-radius-full;
        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (min-width: $mobileBreakPoint) {
            display: none;
        }

        svg {
            height: $row-height-small;
        }
    }
}